/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* > {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(45deg, black, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ui {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-top: 1em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
}
.gbs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.gb {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  margin: 1em;
}
.player-icon {
  height: 1.75em;
}

.gb-col-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border-radius: 4%;
  border: solid rgb(172, 171, 171) 1px;
}

.gb-row-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border-radius: 4%;
  border: solid rgb(172, 171, 171) 1px;
}
.gb-row {
  display: flex;
}
.gb-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border: solid rgb(172, 171, 171) 1px;
  border-radius: 4%;
  transition: background-color .3s ease;
}
.gb-cell-human {
  background: #89e2ee;
}
.gb-cell-human.gb-cell-ship {
  background: gray;
}
.gb-cell-ai {
  background: gray;
}
.ship-area {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
}
.ship-area-text-container {
  text-align: center;
}
.ship-area-header {
  font-size: 1em;
  margin: 1em;
}
.ship-container-header {
  margin-bottom: 1em;
}
.ship-containers {
  display: flex;
  justify-content: center;
  min-height: 15em;
  flex-wrap: wrap;
}
.ship-container {
  display: flex;
  flex-direction: column;
  min-width: 10.5em;
  padding-bottom: 1em;
  margin-right: 1em;
}
.ship-cells {
  display: flex;
}
.vertical-ship {
  flex-direction: column;
}
.ship-cells.carrier.vertical-ship {
  width: 2.1em;
}
.ship-cells.carrier {
  width: calc(2.1*5em);
}
.ship-cells.battleship.vertical-ship {
  width: 2.1em;
}
.ship-cells.battleship {
  width: calc(2.1*4em);
}
.ship-cells.cruiser.vertical-ship {
  width: 2.1em;
}
.ship-cells.cruiser {
  width: calc(2.1*3em);
}
.ship-cells.submarine.vertical-ship {
  width: 2.1em;
}
.ship-cells.submarine {
  width: calc(2.1*3em);
}
.ship-cells.destroyer.vertical-ship {
  width: 2.1em;
}
.ship-cells.destroyer {
  width: calc(2.1*2em);
}
.ship-cell {
  width: 2em;
  height: 2em;
  border-radius: 4%;
  border: solid rgb(172, 171, 171) 1px;
  background: gray;
}
.github-profile-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.github-profile-container > * {
  padding-right: 0.25em;
}

.github-icon {
  height: 2em;
  transition: transform .5s ease-in-out;
}
.github-icon:hover {
  height: 2.5em;
  transform: rotate(360deg);
}
.header-text {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}

.gb-cell.hit {
  background: #f57a7a;
}

.gb-cell.miss {
  background: rgba(80, 194, 124, 0.753);
}

.gb-cell.ship {
  background: gray;
}
.shadow {
  background: rgb(20, 137, 233);
}
.hide {
  display: none !important;
}
h1 {
  font-size: 1.5em;
}
.spin {
  height: 5.5em;
  animation: spin .4s linear infinite;
}
.winner-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.winner-banner-header {
  font-size: 3em;
  text-align: center;
}
@keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}   
}

/* SMALL VIEWPORT RULES */
@media (max-width: 500px) {
  .header-text {
    font-size: 1.5em;
  }
  .ship-area-header {
    font-size: .75em;
  }
  .ship-container-header {
    font-size: .75em;
  }
  .ship-cell, .gb-cell, .gb-row-header, .gb-col-header {
    width: 1em;
    height: 1em;
    /* font-size: .5em; */
  }
  .player-icon {
    width: 1em;
  }
}