@use 'reset';
@use 'color';
@use 'font';
@use 'layout';

.github-profile-container {
  display: flex;
  justify-content: center;
}
.github-profile-container > * {
  padding-right: .25em;
}
.github-icon {
  height: 2em;
}
.header-text {
  font-size: 4em;
  text-align:center;
}
.gb-cell.hit {
  background: #f57a7a;
}
.gb-cell.miss {
  background: rgba(80, 194, 124, 0.753);
}
.gb-cell.ship {
  background: gray;
}